<div class="container" >
  <div class="col-md-3" >
   {{errormessage}}

  </div>
  <div class="col-md-9" >
<h1>Product Display</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let item of arr">
        <div class="thumbnail">
          <img [src]="item.pro_img" height="200px" width="200px" alt="...">
          <div class="caption">
            <h3>{{item.pro_name}}</h3>
            <p>{{item.pro_desc}}</p>
            <p>{{item.pro_qty}}</p>
            <p>{{item.pro_mfg}}</p>
            <p>{{item.pro_price | currency:'INR' }}</p>
            <p>

            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

