<div class="container">

  <h1>Sign Up Form</h1>
<form (ngSubmit)="onUserSave(f)" #f="ngForm" >
    <div class="form-group" >
      <label>User Email</label>
      <input name="user_email" required email ngModel #user_email="ngModel"  type="text" class="form-control" placeholder="Enter Email address">
      <label class="alert alert-danger" *ngIf="user_email.hasError('required') && !user_email.pristine"  >Email is required.</label>
      <label class="alert alert-danger" *ngIf="user_email.hasError('email') && !user_email.pristine"  >Email is invalid.</label>
    </div>
    <div class="form-group" >
      <label>User Name</label>
      <input name="user_name" required minlength="5" pattern="[a-zA-Z]*"  ngModel #user_name="ngModel"  type="text" class="form-control" placeholder="Enter Name ">
      <label class="alert alert-danger" *ngIf="user_name.hasError('required') && !user_name.pristine" >name is required</label>
      <label class="alert alert-danger" *ngIf="user_name.hasError('minlength') && !user_name.pristine" >min 5 digits</label>
      <label class="alert alert-danger" *ngIf="user_name.hasError('pattern') && !user_name.pristine" >only char</label>
    </div>
    <div class="form-group" >
      <label>User password</label>
      <input name="user_password" ngModel type="password" class="form-control" placeholder="Enter password ">
    </div>
    <div class="form-group" >
      <label>User Mobile No</label>
      <input name="user_mobile_no" required minlength="10" maxlength="10" pattern="[0-9]*" ngModel #user_mobile_no="ngModel" type="text" class="form-control" placeholder="Enter mobile no">
      <label class="alert alert-danger" *ngIf="user_mobile_no.hasError('required') && !user_name.pristine" >mobile number is required</label>
      <label class="alert alert-danger" *ngIf="user_mobile_no.hasError('minlength') && !user_mobile_no.pristine" >min 10 digits</label>
      <label class="alert alert-danger" *ngIf="user_mobile_no.hasError('maxlength') && !user_mobile_no.pristine" >max 10 digits</label>
      <label class="alert alert-danger" *ngIf="user_mobile_no.hasError('pattern') && !user_mobile_no.pristine" >only digits</label>
    </div>
    <div class="form-group">
      <button [disabled]="!f.valid" type="submit" class="form-control btn btn-primary" >Save User</button>
    </div>
  </form>
</div>
