<h1>Reactive Form Demo</h1>
<div class="container">
  <form [formGroup]="customer" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input formControlName="firstname" type="text" placeholder="Enter first name" class="form-control">
      <label class="alert-danger" *ngIf="customer.get('firstname').hasError('required')">First Name is Required</label>
      <label class="alert-danger" *ngIf="customer.get('firstname').hasError('invalidName')">First Name is Invalid</label>
      <label class="alert-danger" *ngIf="customer.get('firstname').hasError('minlength')">Name should have more than 3 alphabets</label>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input formControlName="lastname" type="text" placeholder="Enter last name" class="form-control">
      <label class="alert-danger" *ngIf="customer.get('lastname').hasError('required')">Last name is required</label>
      <label class="alert-danger" *ngIf="customer.get('lastname').hasError('invalidName')">Last name is Invalid</label>
      <label class="alert-danger" *ngIf="customer.get('lastname').hasError('minlength')">LastName should have more than 4 alphabets</label>
    </div>
    <div formGroupName="passwordgroup" class="form-group">
      <div>
        <label>Enter Password</label>
        <input type="password" class="form-control" formControlName="password">
      <label *ngIf="customer.get('passwordgroup').get('password').hasError('required')" class="alert alert-danger">password is required</label>
     </div>
   <div>
     <label>Enter confirm Password</label>
     <input type="password" class="form-control" formControlName="confirm_password">
     <label *ngIf="customer.get('passwordgroup').get('confirm_password').hasError('required')" class="alert alert-danger">Confirm password</label>
    </div>
    <label *ngIf="customer.get('passwordgroup').hasError('passwordNotMatched')" class="alert alert-danger">Confirm password and password must be same</label>
  </div>
  <div class="form-group">
    Notification:
    <input type="radio" value="email" formControlName="notification" >Email
    <input type="radio" value="text" formControlName="notification" >Text
  </div>
  <div class="form-group" >
    <label>Mobile Number</label>
    <input type="number" formControlName="mobile_no" class="form-control">
    <label class="alert alert-danger" *ngIf="customer.get('mobile_no').hasError('required')" >Mobile number is required</label>
  </div>
  <div class="form-group" >
      <label>Email</label>
      <input type="text" formControlName="email" class="form-control">
      <label class="alert alert-danger" *ngIf="customer.get('email').hasError('required')" >Email is required</label>
    </div>

    <div class="form-group">
      <button class="btn btn-info" (click)="onAddHobbyClicked()">Add Hobby</button>
      <div formArrayName="hobby">
        <div *ngFor="let item of  getControls();let i=index" >
          <input type="text" placeholder="Enter your Hobby" [formControlName]="i">
          <button (click)="onDeleteHobbyClicked(i)">Delete</button>

        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary">Save</button>
    </div>
  </form>
</div>
